*.elc
.DS_Store
/.cache
/.emacs.desktop
/.emacs.desktop.lock
/.last-package-update-day
/.lsp-session-v1
/.org-id-locations
/amx-items
/anaconda-mode
/auctex/auto
/auto-save-list
/bookmarks
/company-statistics-cache.el
/elgrep-data.el
/eln-cache/
/elpa
/elpy
/history
/init-local.el
/lisp/autoloads.el
# This is probably created by lsp-mssql.
/mssql
/network-security.data
/org-clock-save.el
/org-roam.db
/pbcopyhtml
/places
/private
/projectile-bookmarks.eld
/quelpa
/recentf
/request
/straight/
/tramp
/transient
/tree-sitter/
/url
/var
/ielm-history.eld
