/elpa
/.cache
/persp-confs
/org-clock-save.el
/recentf
/amx-items
/lisp/autoloads.el
/projectile-bookmarks.eld
/quelpa
/.last-package-update-day
/url
/network-security.data
/auto-save-list
/var
/places
/company-statistics-cache.el
