*.elc
.DS_Store
/.cache
/.last-package-update-day
/amx-items
/anaconda-mode
/auctex/auto
/auto-save-list
/bookmarks
/company-statistics-cache.el
/elpa
/elpy
/lisp/autoloads.el
/network-security.data
/org-clock-save.el
/pbcopyhtml
/persp-confs
/places
/private
/projectile-bookmarks.eld
/quelpa
/recentf
/request
/tramp
/transient
/url
/var